body {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
h1 {
  font-size: 250%;
}

.collage {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  float: left;
}

.container {
  position: relative;
  transition: .5s ease;
}

.image {
  width:100%;
  max-width:250px;
  padding: 10px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;


}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textblock {
  color: black;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;

}

.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-footer{
  display: flex;
  justify-content: center;

}

.flex-footer-icon {
 display: flex;
 justify-content: center;
 float: left;
}

a {
  color: inherit;
  text-decoration: inherit;
}
