body {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
h1 {
  font-size: 250%;
}

.collage {
  display: flex;
  justify-content: center;
}

.flex-container-pic {
  display: flex;
  flex-direction: column;
  float: left;
  width: 40%;
}
.container {
  position: relative;
  width: 100%;

}
.container-text {
  position: relative;
  width: 100%;
  text-align: left;
}
.flex-container-text {
  display: flex;
  flex-direction: column;
  float: left;
  width: 40%;
}

.image {
  width:100%;
  padding: 10px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textblock {
  color: black;
}

/* .container:hover .image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
} */
#story {
  font-family: 'Playfair Display', serif;

  text-transform: lowercase;

}
.footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-footer{
  display: flex;
  justify-content: center;

}

.flex-footer-icon {
 display: flex;
 justify-content: center;
 float: left;
}

a {
  color: inherit;
  text-decoration: inherit;
}
